.venv/
.idea/
*.pyc
__pycache__/
.DS_Store

imote/components/output/*
#guide/output/*
#guide/guide
guide/
imote/output/
!imote/output/saved_viz_trees/tree_14-08-26_12-45-55__1199_BNG_echoMonths.pmlb-Pilot-12-30-10-5.pkl
m5_example.py
placeholder.py

imote/dataset/uploaded/

# Packaging build artifacts
build/
dist/
*.egg-info/
